<po-page-list
  p-title="Aluguel de Carros"
  p-subtitle="Reserve o veículo ideal para a sua viagem">

  <div class="po-row po-mb-2">
    <po-select
      class="po-md-4 po-sm-12"
      p-label="Filtrar por categoria"
      [p-options]="categoriaOpcoes"
      (p-change)="filtroCategoria = $event">
    </po-select>
  </div>

  <div class="po-row">
    @for (carro of carrosFiltrados; track carro.id) {
      <div class="po-md-4 po-sm-12 po-lg-3 po-mb-3">
        <po-widget
          [p-title]="carro.marca + ' ' + carro.modelo"
          [p-primary-label]="carro.disponivel ? 'Alugar' : 'Indisponível'"
          (p-primary-action)="abrirModal(carro)">

          <img
            [src]="carro.foto"
            [alt]="carro.marca + ' ' + carro.modelo"
            class="carro-foto">

          <div class="carro-tags po-mt-1">
            <po-tag [p-value]="carro.categoria" [p-type]="PoTagType.Info"></po-tag>
            @if (carro.disponivel) {
              <po-tag p-value="Disponível" [p-type]="PoTagType.Success"></po-tag>
            } @else {
              <po-tag p-value="Indisponível" [p-type]="PoTagType.Danger"></po-tag>
            }
          </div>

          <div class="carro-detalhes po-mt-1">
            <span class="detalhe-texto">
              {{ carro.ano }} &bull; {{ carro.combustivel }} &bull; {{ carro.cambio }}
              &bull; {{ carro.passageiros }} passageiros
            </span>
            <p class="carro-preco">
              R$ {{ carro.precoDiaria }}<span class="preco-periodo">/dia</span>
            </p>
          </div>

        </po-widget>
      </div>
    }
  </div>

</po-page-list>

<po-modal
  #modalAluguel
  p-title="Confirmar Reserva"
  p-size="md"
  [p-primary-action]="alugarAcao"
  [p-secondary-action]="cancelarAcao">

  @if (carroSelecionado) {
    <img
      [src]="carroSelecionado.foto"
      [alt]="carroSelecionado.marca + ' ' + carroSelecionado.modelo"
      class="modal-foto">

    <div class="po-row po-mt-2">
      <po-info
        class="po-md-6 po-sm-12"
        p-label="Veículo"
        [p-value]="carroSelecionado.marca + ' ' + carroSelecionado.modelo">
      </po-info>
      <po-info
        class="po-md-6 po-sm-12"
        p-label="Categoria"
        [p-value]="carroSelecionado.categoria">
      </po-info>
      <po-info
        class="po-md-4 po-sm-12"
        p-label="Ano"
        [p-value]="carroSelecionado.ano.toString()">
      </po-info>
      <po-info
        class="po-md-4 po-sm-12"
        p-label="Combustível"
        [p-value]="carroSelecionado.combustivel">
      </po-info>
      <po-info
        class="po-md-4 po-sm-12"
        p-label="Câmbio"
        [p-value]="carroSelecionado.cambio">
      </po-info>
      <po-info
        class="po-md-6 po-sm-12"
        p-label="Passageiros"
        [p-value]="carroSelecionado.passageiros.toString()">
      </po-info>
      <po-info
        class="po-md-6 po-sm-12"
        p-label="Valor da Diária"
        [p-value]="'R$ ' + carroSelecionado.precoDiaria + ',00'">
      </po-info>
    </div>
  }

</po-modal>
